@font-face {
    font-family: "ChalkdusterCustom";
    src: url("caminho/para/o/arquivo/Chalkduster.woff2") format("woff2"),
         url("caminho/para/o/arquivo/Chalkduster.woff") format("woff"),
         url("caminho/para/o/arquivo/Chalkduster.ttf") format("truetype");


body {
    color: white;
    background: black;
    margin: 1px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(241, 78, 82);
    padding: 20px;
    font-size: 34px;
    color: rgb(241, 78, 82);
}

section {
    background: rgba(136, 23, 32, 1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada {
    background: rgb(230, 159, 200);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    font-family: "ChalkdusterCustom", fantasy;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;

}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(130, 99, 201);
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria h2{
    color: rgb(240, 69, 225);
}
